extends layout

block content
  h2 Welcome #{__('app.name')}

  if user
    p !{__('dsp.hello') + ' <strong>' + user.username + '</strong>' + __('dsp.user.title')}
    a(href='/logout') #{__('dsp.control.logout')}
  else
    a(href='/login') #{__('dsp.control.login')}
