doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body(style="display: none;")
    block content

    <!--[if IE]><!-->
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.min.js"></script>
    <!--<![endif]-->

    script(src="/js/app.js")
