extends layout

block content

  .container.login(style="margin-top: 40px")
    .row
      .col-sm-6.col-md-6.col-md-offset-3
        .card
          h4.card-header.text-xs-center!=__('dsp.title.auth')
          .card-block
            form(role="form", action="/login", method="post")
              fieldset
                .row
                  .center-block
                    i.fa.fa-user.fa-5x(style="width:65px; height:95px; margin:0 auto 10px; display: block;")
                .row
                  .col-sm-12.col-md-10.col-md-offset-1
                    .form-group
                      .input-group
                        span.input-group-addon
                          i.fa.fa-user
                        input.form-control(type="text", name="username", placeholder="Username", autofocus)
                    .form-group
                      .input-group
                        span.input-group-addon
                          i.fa.fa-unlock-alt
                        input.form-control(type="password", name="password", placeholder="Password", value="")

                    each message in error
                      .alert.alert-warning
                        p= message

                    .form-group
                      input.btn.btn-lg.btn-primary.btn-block(type="submit", value="#{__('dsp.control.login')}")
                      span.btn.btn-sm.btn-info.btn-block.btn-changePassword!=__('dsp.control.changePassword')

          .card-footer.text-muted
          //
            span Don't have an account!
            a(href="#") SignupHere

    include templates/changePassword
